.parent{
  
    background-color: floralwhite;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* flex-direction: column; */
    flex-wrap: wrap;



}
.child{
    border: 2px solid rebeccapurple;
    
    font-size: 20px;
  
  background-color: aquamarine;
  /* display: inline; */
   
   


}